// 컬러
$black-base: #1b1e23;
$black-sub: #3d444f;
$grey-base: #5c6677;
$grey-background: #f5f7fa;
$grey-border: #eef0f2;
$grey-sub: #dde0e5;
$grey-disabled: #abb2be;
$red: #ea2829;
$red-sub: #ea2869;

// 이벤트별 포인트 컬러
$point-visual-1: #f3e1cc;
$point-label-1: #a58768;
$point-item-label-1: #b1a59a;
$point-background-1: #faf9f7;
$point-font-1: #a58768;

$point-visual-2: #fdeaca;
$point-label-2: #ffb546;
$point-item-label-2: #b1a59a;
$point-background-2: #faf9f7;
$point-font-2: #e2913d;

$point-visual-3: #c9e1fd;
$point-label-3: #5998d7;

$point-visual-4: #d6ceeb;
$point-label-4: #7f519c;

$breakpoint-mobile: 1130px;
